
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
@import"component/__containers";
@import"component/__nav";
@import"mixin/responsive_about.scss";
@import"component/__main-cards";
@import "component/__variable";
@import "component/__footer";
@import "component/__drupdown";
@import "component/__histrory";
@import "component/__slide";

/* Slide styling */





