 $nav-color:white;
 $baground:rgba(3, 37, 61, 0.7);
 $background-color:orange;
 $color: rgb(27, 41, 69);


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@import"component/variable.scss";
@import"component/_nav";
@import"component/_color-background";
@import"component/_about";
@import"component/_selection";
@import"component/_trianing";
@import"component/_skill";
@import"component/_job";
@import"component/_footer";
@import"component/_hr";
@import"component/_media";
@import"component/_group-mixin";
@import"mixin/_responsive";
strong {
    color: $background-color;
}


