// @import"component/";
.text{
    h1{
      color:$bg-bady;
      padding: 10px;
      }
     h4{
      padding: 10px;
  
     }
     p{
      padding: 10px;
     }
  }
  h2{
          color: $bg-bady;
          margin-left: 30px;
  }