@import"../component/_contactvariable";
footer{
    background-color:$bg-bady;
    height: 70vh;
    .footer{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      color:$bg-color-nav;
      gap: 40px;
      .logo-footer{
          margin-left: 30px;
          margin-right: 5px;
          text-align: justify;
          .img-footer{
              height: 13vh;
              margin-top: 30px;
              margin-left: 5px;
          }
      }
      .about-us{
        margin-right: 90px;
        ul{
            margin-top: 65px;
            li{
                list-style: none;
                margin-top: 20px;
            }
        }
    }
    .quick-link{
        margin-top: 42px;
        margin-right: 60px;
       
        ul{
  
            li{
                list-style: none;
                display: flex;
                margin-top: 20px;
                a{
                    color:$bg-color-nav;
                    text-decoration:none;
                }
            }
        }
      }
    .contact-us{
        margin-top: 42px;
        .fa-solid {
            width: 30px;
            font-size: 20px;
       }
    }
    
  }
  hr{
    color:$bg-color-nav;
    width: 90%;
  }
  .new-footer{
    color: $bg-color-nav;
    margin-top: -2px;
  }
  .media{
   text-align: center;
   margin-top: 20px;
   .fa-brands{
        font-size: 40px;
        margin: 10px;
   }
    .fa-envelope{
        font-size: 30px;
    }
  }
  }
  .active{
    margin-left: -34px;
  }