nav{
    position: fixed;
    z-index: 38;
    left: 0;
    top: 0;
    width: 100%;

    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-bottom:0 2px 6px 8px solid grey;
    display: flex;
    align-items: center;
    justify-content:space-between;
    .logo{
        height: 13vh;
        width: 15%;
    }
   
    ul{
        display: flex;
        gap: 20px;
        list-style-type: none;
        margin-right: 40px;
        li a:hover{
            padding: 10px 10px;
            background:$bg-body;  
            text-decoration: none;
        }
       
        a{
            text-decoration: none;
            font-size: 20px;
        }
        
    }
}