.slide-sor{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }
  .carousel-slide {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 100%;
    animation: slide-animation 10s infinite;
  }
  
  .carousel-item {
    width:23% ;
    // width: 300px;
    height: 300px;
    // flex: 0 0 100%;
    transition: opacity 1s ease-in-out;
    // animation: slide-animation 2s infinite;
  
    display: flex;
    align-items: center;
    gap: 20px;
    // justify-content: center;
    position: relative;
  }
  
  .carousel-item img {
    width: 98%;
    height: 250px;
    object-fit: cover;
  }
  .caption{
    text-align: center;
    color: orange;
    font-size: 30px;
  }
  
  /* Keyframes for sliding animation */
  @keyframes slide-animation {
    0% { transform: translateX(0%); }
    13% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
    66% { transform: translateX(-100%); }
    73% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
  }
  